.git
.github
.vscode
node_modules

roboktober-api/vendor
roboktober-api/node_modules
roboktober-api/storage/logs
roboktober-api/storage/framework/cache
roboktober-api/storage/framework/sessions
roboktober-api/storage/framework/views

roboktober-frontend/node_modules

roboktober-api/public/app/assets

*.log
*.tmp